#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  @media (max-width: 738px) {
    scroll-snap-type: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

div {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

div.recharts-wrapper {
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
